@font-face {
  font-family: Alata;
  src: url('./assets/fonts/Alata-Regular.ttf') format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "Josefin Sans";
  src: url('./assets/fonts/JosefinSans-Light.ttf') format('truetype');
  font-display: fallback;
}
