include ./utils/mixins.pug

article.about#about 
    +pictures( "image-interactive.jpg" ,"about image")
    section.about__about
        h2.about__title The leader in interactive RV
        p.about__desc Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand. 