include ./utils/mixins.pug 

article.creations#creations
    header.creations__header
        h2.creations__title Our Creations
        button.creations__btn See All
    
    div.creations__img
        +card("image-deep-earth.jpg", "deep earth")
        +card("image-night-arcade.jpg", "nigth arcade")
        +card("image-soccer-team.jpg", "soccer team")
        +card("image-grid.jpg", "the grid")
        +card("image-from-above.jpg", "from up above vr")
        +card("image-pocket-borealis.jpg", "pocket borealis")
        +card("image-curiosity.jpg", "the curiosity")
        +card("image-fisheye.jpg", "make it fisheye")