include ./utils/variables.pug

header.header 
    nav.header__navbar 
        h1.header__title LoopStudios
        img.header__display-menu#displayMenu(
            src = "../assets/icons/icon-hamburger.svg"
            alt = "menu-icon"
        )
        section.header__menu
            div
                each item in menuItems 
                    a.header__menu-items(href = '#' + item)= item 
    section.header__desc
        div
            p.header__text imersive experiences that deliver