include ./utils/variables.pug

doctype
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale = 1")
        meta(name="description" content="Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe")
        link(rel="shortcut icon", href="../assets/icons/favicon.png", type="image/x-icon")
        title Loopstudios 
    body
        include ./header.pug
        include ./about.pug
        include ./creations.pug
        include ./footer.pug