include ./utils/variables.pug

doctype
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale = 1")
        meta(name="description" content="Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe")
        link(rel="stylesheet", href="./styles.css")
        link(rel="preconnent", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href=fontUrl)
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        title Loopstudios 
    body
        include ./header.pug
        include ./about.pug
        include ./creations.pug
        include ./footer.pug
        script(src='./js/index.js',type="module")