@import '../utils/_variables';

/*
  *********ABOUT********
*/

.about {
  margin-bottom: 90px;
  padding: {
    left: 120px;
    top: 50px;
  }
  position: relative;
}

/*
  *********IMAGES*********
*/

.about__img {
  height: 500px;
  margin-top: 20px;
  width: 730px;
}

/*
  *********TEXT*********
*/

.about__text {
  background-color: $White;
  font-family: "Josefin Sans", sans-serif;
  height: 300px;
  left: 680px;
  padding: 70px;
  position: absolute;
  top: 250px;
}

.text__title {
  font-size: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.text__desc {
  font-size: 16px;
}
