@import '../utils/_variables';

/*
  *********CREATIONS********
*/

.creations {
  margin-bottom: 120px;
  padding: {
    top: 30px;
    left: 120px;
  }
}

/*
  *********HEADER**********
*/

.creations__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  position: relative;
}

.header__title {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.header__btn {
  background-color: $White;
  height: 32px;
  position: absolute;
  right: 30px;
  text-transform: uppercase;
  top: 0;
  width: 120px;
}

.creations__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.creations section {
  position: relative;
}

.creations section p {
  bottom: 60px;
  color: $White;
  font-size: 17px;
  left: 10px;
  position: absolute;
  text-transform: uppercase;
}

@media screen and (max-width: 440px){
  .creations {
    padding: 0 2%;
  }

  .creations__img {
    grid-template-columns: 1fr;
  }

  .creations__img {
    img {
      width: 96%;
    }
  }
}