@use '../utils/_variables' as variables;

.header {
  background: {
    image: url("./assets/images/desktop/image-hero.jpg");
    origin: border-box;
    repeat: no-repeat;
    size: cover;
  }
  color: variables.$color-text;
  height: 100vh;
  padding: {
    top: 30px;
    left: 2%;
    right: 2%;
  }
  position: relative;

  &__navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  &__title {
    font-size: 32px;
    text-transform: lowercase;
    margin: 0;
  }

  &__display-menu {
    display: none;
  }

  &__menu {
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 7px;
  }

  &__menu-items {
    color: variables.$color-text;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    text: {
      decoration: none;
      transform: capitalize;
    }
  }

  &__desc {
    border: 1px solid variables.$color-text;
    font: {
      size: 45px;
      family: "Josefin Sans", sans-serif;
    }
    padding: 20px;
    position: absolute;
    text-transform: uppercase;
    top: 250px;
    width: 400px;
  }
}

@media screen and (max-width: 440px) {
  .header {
    background-image: url("./assets/images/mobile/image-hero.jpg");
    padding: 0;
    padding-right: 3%;
    padding-top: 3%;

    &__title {
      font-size: 20px;
      padding-left: 10px;
    }

    &__display-menu {
      display: block;
      align-self: center;
      justify-self: end;
    }

    &__menu {
      display: none;
    }

    &__menu-items {
      font-size: 25px;
      text-align: center;
      margin-bottom: 20px;
    }
    &__desc {
      width: 92%;
      height: 250px;
      margin-left: 10px;
      top: 350px;
    }
  }

  .header__menu--display {
    align-items: center;
    background-color: variables.$bg-black;
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    & div {
      display: flex;
      flex-direction: column;
    }
  }

  .icon-close,
  .header__title--menu {
    position: absolute;
    top: 20px;
    z-index: 10;
  }


  .header__title--menu {
    left: 20px;
  }

  .icon-close {
    right: 20px;
  }
}
