@use '../utils/_variables' as variables;

.header {
  background: {
    image: url(./assets/images/desktop/image-hero.jpg);
    origin: border-box;
    repeat: no-repeat;
    size: cover; 
  }
  color: variables.$color-text;
  height: 100vh;
  padding: {
    top: 50px;
    left: 140px;
    right: 50px;
  }
  position: relative;

  &__navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  &__desc {
    border: 1px solid variables.$color-text;
    font: {
      size: 45px;
      family: "Josefin Sans", sans-serif;
    }
    padding: 20px;
    position: absolute;
    text-transform: uppercase;
    top: 250px;
    width: 400px;
  }
}

.display__menu {
  display: none;
}

.navbar__title {
  font-size: 32px;
  margin: 0;
}

.navbar__menu {
  a {
    color: variables.$color-text;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    text: {
      decoration: none;
      transform: capitalize;
    }
  }
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 7px;
}


@media screen and (max-width: 440px) {
  .header {
    background-image: url(./assets/images/mobile/image-hero.jpg);
    padding: 0;
    padding-right: 3%;
    &__desc {
      width: 92%;
      height:250px;
      margin-left: 10px;
      top: 350px;
    }
  }

  .navbar__title {
    padding-left: 10px;
  }

  .display__menu {
    display: block;
    align-self: center;
    justify-self: end;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__menu--display {
    align-items: center;
    background-color: variables.$bg-black;
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    & div {
      display: flex;
      flex-direction: column;
    }
    
    & div a {
      margin-bottom: 30px;
      font-size: 25px;
      text-align: center;
    }
  }

  .icon-close,
  .navbar__menu::before {
    position: absolute;
    top: 20px;
  }


  .navbar__menu::before {
    content: 'LoopStudios';
    font-size: 20px;
    left: 20px;
  }

  .icon-close {
    position: absolute;
    z-index: 10;
    right: 20px;
  }
}
