.creations {
  margin-bottom: 120px;
  padding: {
    top: 30px;
    left: 120px;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }

  &__btn {
    background-color: $color-text;
    height: 2rem;
    margin-right: .125rem;
    text-transform: uppercase;
    width: 120px;
  }

  &__img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  section {
    position: relative;
  }

  section p {
    bottom: 30px;
    color: $color-text;
    font-size: 17px;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
  }
}

@media screen and ( min-width: 576px ) and ( max-width: 786px ) {
  .creations {
    padding-left: 2%;

    &__img {
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
    }
  }
} 

@media screen and (max-width: 596px) {
  .creations {
    padding: {
      left: 2%;
      right: 2%;
      top: 30px;
    };
    position: relative;
    &__header {
      position: initial;
    }
    &__img {
      grid-template-columns: 1fr;
      img {
        width: 96%;
      }
      section {
        p {
          bottom: 10px;
        }
      }
    }
  }

  .creations__btn {
    position: absolute;
    bottom: -50px;
    left: 35%;
  }
}
