:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html{
  font-family: 'Alata', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

/*
  *********HEADER***********
*/

.header {
  background-image: url('../images/desktop/image-hero.jpg');          
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--White);
  height: 100vh;
  padding-top: 50px;
  padding-left: 140px;
  padding-right: 50px;
  position: relative;
}

.header__navbar{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
}

.navbar__title{
  font-size: 32px;
  margin: 0;
}

.navbar__menu {
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 7px;
}


.navbar__menu a {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.header__desc {
  border: 1px solid var(--White);
  width: 400px;
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  padding: 20px;
  position: absolute;
  top: 250px;
}

/*
  *********ABOUT********
*/

.about {
  margin-bottom: 50px;
  padding-left: 120px;
  position: relative;
}

.about__img {
  margin-top: 20px;
  background-image: url('../images/desktop/image-interactive.jpg');
  width: 730px;
  height: 500px;
}

.about__text {
  position: absolute;
  background-color: white;
  width: 580px;
  height: 300px;
  padding: 70px;
  top: 200px;
  left:  680px;
  font-family: 'Josefin Sans', sans-serif;
}

.text__title {
  font-size: 40px ;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.text__desc {
  font-size: 16px;
}

.creations {
  padding-left: 120px;
}

.creations__img{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.creations section {
  position: relative;
}

.creations section div {
  width: 256px;
  height: 450px;
}

.creations section p {
  color: var(--White);
  font-size: 17px;
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  bottom: 60px;
}

.deep-img {
  background-image: url('../images/desktop/image-deep-earth.jpg');
}

.night-img {
  background-image: url('../images/desktop/image-night-arcade.jpg');
}

.soccer-img {
  background-image: url('../images/desktop/image-soccer-team.jpg');
}

.grid-img {
  background-image: url('../images/desktop/image-grid.jpg');
}

.above-img {
  background-image: url('../images/desktop/image-from-above.jpg');
}

.pocket-img {
  background-image: url('../images/desktop/image-pocket-borealis.jpg');
}

.curiosity-img {
  background-image: url('../images/desktop/image-curiosity.jpg');
}

.make-img {
  background-image: url('../images/desktop/image-fisheye.jpg');
}